body[b-d0yc9cmvrn] {
    background-image: url('/assets/images/bg-clubs.png'); /* Replace with the path to your image */
    background-size: cover; /* Optional: Adjust how the image fits the screen */
    background-repeat: no-repeat; /* Optional: Prevent image from repeating */
}
