:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    color: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    color: var(--color-secondary);
}


a {
    color: var(--color-links);
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        color: var(--color-links-hover);
        text-decoration: none;
    }

/*.link-underline:horizontal {
    color: var(--color-links);
    text-decoration: underline;
}*/

.link-underline:hover {
    text-decoration: underline;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.warning-loop {
    font-size: 36px;
    color: red;
    animation: bounce 1s infinite;
    display: inline-block;
    top: -20px;
}

.warning-loop-meeting-request {
    font-size: 24px;
    color: red;
    animation: bounce 1s infinite;
    display: inline-block;
    top: -11px;
    left: -2px;
}

textarea.form-control {
    height: 150px;
    resize: none;
}

.text-red {
    color: red;
}

.logo-bigger {
    max-width: 180px;
    max-height: 60px;
    object-fit: cover;
}

.w-px-110 {
    width: 110px;
}

.w-px-250 {
    width: 250px;
}

.w-px-200 {
    width: 200px;
}

.right-px-25 {
    right: 25px;
}

@keyframes orange-glowing {
    0%, 100% {
        box-shadow: 1px 0px 10px 4px #F27022, inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0px 0px 0px 0px rgba(255, 245, 3, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
    }
}

.orange-glowing {
    color: white;
    text-shadow: 0px 1px 0px #F27022;
    background-image: linear-gradient(to bottom, #F27022, #F27022);
    animation: orange-glowing 2s infinite;
}


.border-1-gray {
    border: 1px solid #ccc;
}

.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Giới hạn số hàng là 4 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị elipsis (...) nếu văn bản bị cắt */
    width: 100%;
}
/*--------------------------------------------------------------
# Cover
--------------------------------------------------------------*/
.image-view {
    border: 1px solid #ccc;
}

.cover-container {
    position: relative;
}

.cover, .cover-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    display: none; /* Initially hidden */
    transition: 0.5s ease;
    border-radius: 10px;
}

.cover-circle {
    border-radius: 50%;
}

.cover-container:hover > .cover,
.cover-container:hover > .cover-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cover-container .eye-btn {
    background: none;
    outline: none;
    border: none;
}

.cover-container i {
    font-size: 40px;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.w-px-30 {
    width: 30px;
}

.z-index-99 {
    z-index: 99;
}

.top-30 {
    top: 30%;
}

.start-60 {
    left: 60%;
}

.start-70 {
    left: 70%;
}

.start-80 {
    left: 80%;
}
/*--------------------------------------------------------------
# Font sizes
--------------------------------------------------------------*/
.top-px-10 {
    top: 10px;
}

.left-px-10 {
    left: 10px;
}

.bottom-px-10 {
    bottom: 10px;
}

.bottom-minus-px-10 {
    bottom: -10px;
}

.bottom-minus-px-4 {
    bottom: -4px;
}


.left-minus-px-10 {
    left: -10px;
}

/*--------------------------------------------------------------
# Font sizes
--------------------------------------------------------------*/
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}


/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/
.col-px-10 {
    width: 10px;
}

.col-px-45 {
    width: 45px;
}

.col-px-110 {
    width: 110px;
}

.h-px-350 {
    height: 350px;
}


.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.horizontal-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.horizontal-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.center-vertically-top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.btn-primary {
    background-color: rgba(242, 112, 34, 0.9);
    border-color: rgba(242, 112, 34, 0.9);
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:disabled,
    .btn-primary:focus {
        background-color: rgba(242, 112, 34, 1);
        border-color: rgba(242, 112, 34, 1);
    }


.btn-secondary {
    background-color: rgba(42, 101, 152, 0.9);
    border-color: rgba(42, 101, 152, 0.9);
}

    .btn-secondary:hover {
        background-color: rgba(42, 101, 152, 1);
        border-color: rgba(42, 101, 152, 1);
    }

.btn-tertiary {
    color: white;
    background-color: rgba(0, 0, 255, 0.9);
    border-color: rgba(0, 0, 255, 0.9);
}

    .btn-tertiary:hover {
        color: white;
        background-color: rgba(0, 0, 255, 1);
        border-color: rgba(0, 0, 255, 1);
    }

.btn-cancel {
    color: white;
    background-color: rgba(255, 0, 0, 0.9);
    border-color: rgba(255, 0, 0, 0.9);
}

    .btn-cancel:hover {
        color: white;
        background-color: rgba(255, 0, 0, 1);
        border-color: rgba(255, 0, 0, 1);
    }

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0 0 8px #ccc;
}

.btn-camera {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: var(--light-gray-color);
    border: 1px solid var(--light-gray-color);
}

    .btn-camera:hover {
        box-shadow: 0 0 8px #ccc;
    }



.btn-action {
    font-size: 20px;
    padding: 0px;
    background: var(--primary-violet-color);
}

    .btn-action i {
        background-color: #fff;
        color: var(--primary-orange-color);
    }

    .btn-action span {
        padding: 20px;
    }

.btn-blue, .btn-red, .btn-teal, .btn-info, .btn-warning {
    color: white;
}

    .btn-info:hover,
    .btn-info:active,
    .btn-info:focus {
        color: white;
    }

    .btn-warning:hover,
    .btn-warning:active,
    .btn-warning:focus {
        color: white;
    }

.btn-blue {
    background-color: blue;
    border-color: blue;
}

    .btn-blue:hover,
    .btn-blue:active,
    .btn-blue:focus {
        background-color: blue;
        border-color: blue;
        color: white;
    }

.btn-teal {
    background-color: teal;
    border-color: teal;
}

    .btn-teal:hover,
    .btn-teal:active,
    .btn-teal:focus {
        background-color: teal;
        border-color: teal;
        color: white;
    }

.btn-red {
    background-color: red;
    border-color: red;
}

    .btn-red:hover,
    .btn-red:active,
    .btn-red:focus {
        background-color: red;
        border-color: red;
        color: white;
    }

.btn-yellow {
    background-color: yellow;
    border-color: yellow;
}

    .btn-yellow:hover,
    .btn-yellow:active,
    .btn-yellow:focus {
        background-color: yellow;
        border-color: yellow;
        color: black;
    }


.btn-clear-input {
    position: absolute;
    right: 10px;
    top: 4px;
    color: var(--color-primary);
    font-size: 21px;
    z-index: 99;
}

    .btn-clear-input:hover {
        color: red;
    }


/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/


.form-select {
    max-height: 200px;
    overflow-y: auto;
}

div.dropdown-menu.open {
    max-height: 314px !important;
    overflow: hidden;
}

ul.dropdown-menu.inner {
    max-height: 260px !important;
    overflow-y: auto;
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
    margin-bottom: 20px;
    text-align: center;
}

    .pagetitle h1 {
        font-size: 24px;
        margin-bottom: 0;
        font-weight: 600;
        color: var(--color-secondary);
    }

    .pagetitle span {
        color: #51678f;
        font-weight: 500;
        text-align: center;
    }

@media (max-width: 640px) {
    .pagetitle h1 {
        font-size: 20px;
    }
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    /*z-index: 10;*/
}

    .card .card-img-top {
        height: 120px; /* Adjust the height of the image to fit the top portion of the card */
        object-fit: cover; /* Ensures the image covers the entire space while maintaining aspect ratio */
    }

    .card .card-img-left {
        width: 100px;
        height: 100%;
        object-fit: cover;
    }

.card-body {
    padding: 0 20px 20px 20px;
}

    .card-body .title {
        font-size: 16px;
        font-weight: 500;
        color: #012970;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Giới hạn số hàng là 2 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* Hiển thị elipsis (...) nếu văn bản bị cắt */
        height: 45px; /* Chiều cao tối đa tương ứng với 2 dòng */
    }

    .card-body .desc {
        font-size: 14px;
        font-weight: 400;
        color: #012970;
        line-height: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Giới hạn số hàng là 3 */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; /* Hiển thị elipsis (...) nếu văn bản bị cắt */
        height: 42px; /* Chiều cao tối đa tương ứng với 3 dòng */
    }

    .card-body .type {
        font-size: 14px;
        font-weight: 400;
        color: #012970;
        opacity: 0.7;
    }

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}

.card-animation {
    cursor: pointer;
    transition: all 0.3s;
}

    .card-animation:hover {
        transform: scale(1.02, 1.02);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

.card-box-shadow {
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
}

.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
}

    .card-title span {
        color: #899bbd;
        font-size: 14px;
        font-weight: 400;
    }

@media (max-width: 767px) {
    .card .card-img-left {
        width: 372px;
        height: 209.25px;
        object-fit: cover;
    }
}
/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
    padding: 70px;
}

   /* .error-404 h1 {
        font-size: 150px;
        font-weight: 700;
        color: #4154f1;
        margin-bottom: 0;
        line-height: 150px;
    }*/

    .error-404 h2 {
        font-size: 24px;
        font-weight: 700;
        color: #012970;
        margin-bottom: 30px;
    }

    .error-404 .btn {
        padding: 8px 30px;
    }

      /*  .error-404 .btn:hover {
            background: #3e4f6f;
        }*/

@media (min-width: 992px) {
    .error-404 img {
        max-width: 50%;
    }
}



.general-info .info-header {
    padding-bottom: 10px;
}

.general-info .banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}



.general-info .banner-wrapper {
    position: relative;
}

    .general-info .banner-wrapper img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .general-info .banner-wrapper post-banner {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .general-info .banner-wrapper .btn-dark {
        position: absolute;
        right: 15px;
        bottom: 15px;
        opacity: 0.8;
    }

.general-info .avatar-wrapper {
    position: relative;
    top: -20px;
    margin: auto;
    padding: 5px;
    background-color: white;
}

    .general-info .avatar-wrapper .update-avatar-btn {
        bottom: 15px;
        right: 10px;
    }

    .general-info .avatar-wrapper .avatar {
        border: 1px solid var(--light-gray-color);
        width: 150px;
        height: 150px;
        object-fit: cover;
    }



.card.info-header {
    margin-bottom: 20px;
}


@media (max-width: 640px) {
    .general-info .banner-wrapper img,
    .general-info .banner {
        height: 150px;
    }
}

/*--------------------------------------------------------------
# Contact List
--------------------------------------------------------------*/
.contact-list {
    margin: 0px;
    list-style: none;
    height: 200px;
}

    .contact-list .contact-item {
        margin-bottom: 10px;
    }

        .contact-list .contact-item i {
            font-size: 20px;
            margin-right: 5px;
            opacity: 0.8;
        }


/*--------------------------------------------------------------
# User profile Page
--------------------------------------------------------------*/
.user-profile .avatar {
    width: 120px;
    height: 120px;
}

    .user-profile .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.user-profile h6 {
    white-space: nowrap;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
}

.user-profile .information {
    height: 100px;
}
/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
}

.profile .profile-card h3 {
    font-size: 18px;
}

.profile .profile-card .social-links i {
    opacity: 0.8;
}

.profile .profile-card .social-links span {
    font-size: 14px;
    word-wrap: break-word;
    max-width: 30ch;
}

.profile .profile-overview .row {
    margin-bottom: 20px;
    font-size: 15px;
}

.profile .card-title {
    color: #012970;
    padding: 0px;
}


.profile .profile-overview .label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
    max-width: 120px;
}


.profile .profile-card .avatar {
    position: relative;
    width: 150px;
    height: 150px;
}

    .profile .profile-card .avatar img {
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
        object-fit: cover;
        border: 1px solid var(--light-gray-color);
    }

    .profile .profile-card .avatar button {
        bottom: 5px;
        right: 0;
    }


#profile-achievements .achievement {
    position: relative;
}

    #profile-achievements .achievement img {
        max-width: 230px;
        max-height: 180px;
    }

    #profile-achievements .achievement .semester-name {
        position: absolute;
        top: 63px;
        left: 0;
        width: 100%;
        text-align: center;
    }


#profile-clubs .club img {
    max-width: 150px;
    max-height: 150px;
}

#profile-events .event,
#profile-clubs .club {
    cursor: pointer;
    transition: all 0.3s;
}

    #profile-events .event:hover,
    #profile-clubs .club:hover {
        transform: scale(1.05, 1.05);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    #profile-events .event img {
        border-radius: 10px 10px 0px 0px;
    }



.profile .info-header .banner {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.profile .info-header .title {
    margin-bottom: 20px;
}

.profile .info-header .avatar-wrapper {
    position: relative;
    top: -60px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

    .profile .info-header .avatar-wrapper .avatar {
        outline: 3px solid white;
        border: 1px solid #ccc;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

.profile .info-header .avatar-size {
    width: 150px;
    height: 150px;
}



@media (max-width: 780px) {
    .profile .info-header .banner {
        height: 180px;
    }

    .profile .info-header .avatar-wrapper {
        top: -30px;
        height: 80px;
    }

        .profile .info-header .avatar-wrapper .avatar {
            width: 80px;
            height: 80px;
        }

    .profile .info-header .avatar-size {
        width: 80px;
        height: 80px;
    }

    .profile .info-header .title {
        font-size: 18px;
    }
}


.img-size-150-150 {
    width: 150px;
    height: 150px;
    padding: 0;
}

    .img-size-150-150 img {
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.img-size-250 {
    width: 250px;
    height: 250px;
    padding: 0;
}

    .img-size-250 img {
        border: 1px solid #ccc;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.img-size-40-40 {
    width: 40px;
    height: 40px;
}

    .img-size-40-40 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.img-size-30-30 {
    width: 30px;
    height: 30px;
}

    .img-size-30-30 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.profile .introduction {
    height: 160px;
    overflow: auto;
    white-space: pre-line;
    padding: 0px;
}

.profile .location {
    white-space: nowrap;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile .club-introduction {
    height: 200px;
    overflow: auto;
    margin: 0px;
}

#intro .intro-details {
    height: 180px;
    overflow: auto;
    white-space: pre-line;
    padding: 0px;
}


/*--------------------------------------------------------------
# Post Details
--------------------------------------------------------------*/
.post-details .banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.post-details .title {
    color: #012970;
    font-weight: bold;
}

.break-spaces {
    white-space: pre-line;
}

.custom-logo img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border: 1px solid #ccc;
    object-fit: cover;
}

.custom-logo p {
    color: darkgray;
    font-size: 14px;
}

.custom-logo.big img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.home-top {
    height: 250px;
    margin-bottom: 25px;
}

.slider {
    margin-bottom: 20px;
    height: 500px;
    margin: 0px;
}

    .slider .slider-img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

@media (max-width: 640px) {
    .post-details .banner img {
        height: 200px;
    }
}

/*--------------------------------------------------------------
# Bordered Tabs
--------------------------------------------------------------*/
.nav-tabs-bordered {
    border-top: 2px solid #ebeef4;
}

    .nav-tabs-bordered .nav-link {
        margin-bottom: -2px;
        border: none;
        color: #2c384e;
        padding: 15px;
    }

        .nav-tabs-bordered .nav-link:hover,
        .nav-tabs-bordered .nav-link:focus {
            color: var(--primary-orange-color);
        }

        .nav-tabs-bordered .nav-link.active {
            background-color: #fff;
            color: #F27022;
            border-bottom: 2px solid var(--primary-orange-color);
        }

/*--------------------------------------------------------------
# Skeleton
--------------------------------------------------------------*/
.loading-skeleton {
    color: transparent;
    appearance: none;
    -webkit-appearance: none;
    background-color: #eee;
    border-color: #eee;
}

@keyframes loading-skeleton {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.row {
    transition: 0.5s ease;
}

.loading-skeleton {
    pointer-events: none;
    animation: loading-skeleton 0.5s infinite alternate;
}

    .loading-skeleton .card img {
        filter: grayscale(100) contrast(0%) brightness(1.8);
    }


    .loading-skeleton .card h1, .loading-skeleton .card h2,
    .loading-skeleton .card h3, .loading-skeleton .card h4,
    .loading-skeleton .card h5, .loading-skeleton .card h6,
    .loading-skeleton .card p, .loading-skeleton .card li,
    .loading-skeleton .card .btn,
    .loading-skeleton .card label,
    .loading-skeleton .card select,
    .loading-skeleton .card .form-control,
    img.loading-skeleton {
        color: transparent;
        appearance: none;
        -webkit-appearance: none;
        background-color: #eee;
        border-color: #eee;
    }

    .loading-skeleton .card span {
        color: transparent;
    }

    .loading-skeleton .awards-bg {
        background: none;
        background-color: white;
    }


::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
    border-radius: 5px;
}


.btn-close-modal {
    right: 18px;
    top: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    color: red;
    width: 20px;
    height: 20px;
}

    .btn-close-modal:hover {
        opacity: 0.7;
    }

    .btn-close-modal .bi-x-circle-fill {
        font-size: 20px;
    }


@media (max-width: 640px) {
    .video-container iframe {
        height: 200px;
    }
}